body{
    overflow: hidden;
    background: url(/img/shubham-dhage-9v4-Ab4YjKw-unsplash.jpg);    background-size: cover; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

#container{
    background: #362203 url(/img/splk.jpg) top;
    text-align: center;
    width: 40%;
    height: 35%;
    margin: 60px auto;
    padding: 15%;
    border-radius: 30px 20px 30px 20px;
}

#email{
text-align: center;
width: 90%;
height: 50px;
font-size: 20px;
padding: 10px;
margin-top: 20px;
margin-bottom: 20px;
outline: none;
border: none;
border-radius: 6px;
}


#senha{
    text-align: center;
    font-size: 16px;
    width: 90%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 0px 0px 60px;
    outline: none;
    border: none;
    border-radius: 6px;
}

#logar {
    font-size: 1em;
    outline: none;
    margin-top:25px;
    width: 21em;
    height: 3em;
    color: white;
    background: #f4870d;
    border: none;
    border-radius: 50px 50px 50px 50px;
}

img{
  height: 60%;
  width: 50%;
  float: inline-start;
  border-radius: 10em 10em 10em;
  margin: 0%;
}

#smile {
    margin: 20%;
    border: #f4870d;
}

/* hover */

#container:hover{
    transition: 7s;
    background: #362203 url(/img/splk.jpg) bottom left;

}

#email:hover{
    transition: 1s;
    color: #f4870d;
    background-color:  #1a1818;
}

#senha:hover{
    transition: 1s;
    color: #f4870d;
    background-color: #1a1818;
}

#logar:hover{
    transition: 2s;
    color: #f4870d;
    background: #161411;
}